<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impromptu Mixology</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class = "container">
        <header>
            <nav class = "nav">
                <a href = "/" class = "logo">Impromptu Mixology</a>
                <% if (currentPartialLocals.req) { %>
                    <div>
                        <a href = "/about" class = "about">About</a>
                    </div>
                    <% if (currentPartialLocals.req.isAuthenticated()) { %>
                        <div class = "user-nav">
                            <a href = "/user/<%= currentPartialLocals.req.user.id %>" class = "logout-profile">Profile</a>
                            <a href = "/auth/logout" class = "logout-profile">Logout</a>
                        </div>
                    <% } else { %> 
                        <div class = "login-register">
                            <a href = "/auth/login" class = "login-reg">Log-In / </a><a href = "/user/register" class = "login-reg">Register</a>
                        </div>
                    <% } %>
                <% } %>
            </nav>

        </header>

        <main>

            <%- include(currentPartial), currentPartialLocals %>

        </main>
        
        <footer>
            <p><%= new Date().getFullYear() %> - impromptu mixology</p>
        </footer>
    </div>
</body>
<script src="src/main.js"></script>
</html>