<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impromptu Mixology</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <header>

    </header>

    <main>

        <%- include(currentPartial), currentPartialLocals %>

    </main>
    
    <footer>
        <p><%= new Date().getFullYear() %> - impromptu mixology</p>
    </footer>
</body>
</html>