<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Impromptu Mixology</title>
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class = "container">
        <header>
            <nav class = "nav">
                <a href = "/" class = "logo">Impromptu Mixology</a>
                <form id = "enter-name">
                    <div>
                        <input type="text" name = "searchName" placeholder = "Enter Cocktail Name" />
                    </div>
                    <button type="submit">Search</button>
                </form>
                <% if (currentPartialLocals.authorized) { %> 
                    <a href = "/auth/logout">Logout</a>
                <% } else { %> 
                <div class = "login-register">
                    <a href = "/auth/login">Log-In </a> <a href = "/user/register">Register</a>
                </div>
                <% } %>
            </nav>

        </header>

        <main>

            <%- include(currentPartial), currentPartialLocals %>

        </main>
        
        <footer>
            <p><%= new Date().getFullYear() %> - impromptu mixology</p>
        </footer>
    </div>
</body>
<script src="src/main.js"></script>
</html>