<h1>DRINK UP!</h1>

<form id = "enter-name">
    <div>
        <input type="text" name = "searchName" id = "inputName" placeholder = "Enter Cocktail Name" />
    </div>
    <button type="submit" id = "search">Search</button>
</form>

<div class = "showcases">
    <p class = "homepage-drink" id="recipe-name"><%= currentPartialLocals.name %> </p>

    <div class = "pic-frame">
        <img id="recipe-pic" src = <%= currentPartialLocals.pic %> />
    </div>

    <p id="recipe-ingredients"><%= currentPartialLocals.ingredients %></p>
    <p id="recipe-instruction"><%= currentPartialLocals.instruction %></p>

    <% if (currentPartialLocals.req.isAuthenticated()) { %>
        <button id = "addFav">Add to Favourite</button>
    <% } %>

</div>