<h1>
    username: <%= currentPartialLocals.username %> <br>
    email: <%= currentPartialLocals.email%>
</h1>

<div class = "profile-nav">
<a href = "/user/recipes">See Your Saved Recipes</a>

<a href = "recipes/add"> Add Your Own Recipe </a>

</div>

<!-- <a href = "recipes/edit">Edit Recipes</a> -->