<h1>
    username: <%= currentPartialLocals.username %>
</h1>

<a href = "/user/recipes">See Your Saved Recipes</a>

<a href = "recipes/add"> Add Your Own Recipe </a>

<a href = "recipes/edit">Edit Recipes</a>