<div class = "form">
    <div class = "add">
        <form method='POST' action = "/recipes">
            <input type = "text" name = "name" placeholder = "Cocktail Name" />
            <input type = "text" name = "ingredients" placeholder = "Ingredients" />
            <input type = "text" name = "instruction" placeholder = "Instruction" />
            <input type = "submit" value = "Add it!" />
        </form>
    </div>
    <a href = "/recipes">Back to recipes</a>
</div>