<div class = "add-form">
    <form class = "add" method='POST' action = "/user/recipes">
        <input type = "text" name = "name" placeholder = "Cocktail Name" />
        <input type = "text" name = "ingredients" placeholder = "Ingredients" />
        <input type = "text" name = "instruction" placeholder = "Instruction" />
        <input type = "url" name = "pic" placeholder = "Pic" />
        <input type = "submit" value = "Add it!" />
    </form>

    <a href = "/user/recipes">Back to recipes</a>
</div>