<div>
    <p class = "current-drink"><%= currentPartialLocals.name %></p>

    <p class = "ingredients"><%= currentPartialLocals.ingredients %> </p>

    <p class = "instruction"><%= currentPartialLocals.instruction %></p>

</div>