<div>
    <p class = "current-drink"><%= currentPartialLocals.recipe.name %></p>

    <p class = "ingredients"><%= currentPartialLocals.recipe.ingredients %> </p>

    <p class = "instruction"><%= currentPartialLocals.recipe.instruction %></p>

</div>